<!DOCTYPE html>
<html>
  <head>
    <title>課題：TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header><P>DIC課題：[Twitter Cloneアプリ]</P></header>
    <div class="yield">
      <%= yield %>
    </div>
    <footer><p>2019.3 ©︎あらいあゆみ</p></footer>
  </body>
</html>
